.flex-end {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}
.align-middle {
  display: flex;
  align-items: center;
}

.navbar__date {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}