<div class="row">
  <div class="col-md-4">
    <button class="btn btn-block btn-outline-primary" [routerLink]="['/users']" routerLinkActive="router-link-active" >Usuários</button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-block btn-outline-primary" [routerLink]="['/records']" routerLinkActive="router-link-active" >Lista</button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-block btn-outline-primary" [routerLink]="['/posts']" routerLinkActive="router-link-active" >Postagens</button>
  </div>
</div>
