<ul *ngFor="let user of users" class="card card-body list-unstyled p-1">
  <div *ngIf="users.length > 0" [class.bg-light]="user.active" [style.border]="user.active ? '3px solid blue' : ''"
    class="p-3">
    <div class="row col-sm-12">
      <div class="col-sm-3">
        <img [src]="user.image" alt="user.name" class="user__image">
      </div>
      <div class="col-sm-9">
        <h4 class="pl-3">{{ user.name }} {{ user.lastName }}</h4>
        <div *ngIf="showExtended" class="list-group mt-3">
          <li class="list-group-item">Idade: {{ user.age }} anos</li>
          <li class="list-group-item">Email: {{ user.contact.email }} </li>
          <li class="list-group-item">Fone: {{ user.contact.phone }} </li>
        </div>
      </div>
    </div>

  </div>
</ul>

<h3 *ngIf="users.length === 0">Nenhum Usuário Encontrado =\</h3>