<button class="btn btn-block btn-outline-primary mb-3" (click)="showUserForm = !showUserForm">
  Novo Integrante
</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Nome</label>
          <input type="text" class="form-control" [(ngModel)]="user.name" name="name">
        </div>
        <div class="col-md-6">
          <label for="othername">Sobrenome</label>
          <input type="text" class="form-control" [(ngModel)]="user.lastName" name="othername">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="age">Idade</label>
          <input type="number" class="form-control" [(ngModel)]="user.age" name="age">
        </div>
        <div class="col-md-6">
          <label for="mainLanguage">Principal Linguagem</label>
          <input type="text" class="form-control" [(ngModel)]="user.mainLanguage" name="mainLanguage">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="user.contact.email" name="email">
        </div>
        <div class="col-md-6">
          <label for="phone">Fone</label>
          <input type="text" class="form-control" [(ngModel)]="user.contact.phone" name="phone">
        </div>
      </div>
    </div>
    <button class="btn btn-block btn-outline-primary mb-3"
      [disabled]="user.name == '' || user.lastName == '' || user.age == '' || user.mainLanguage == ''">
      Adicionar
    </button>
  </form>
</div>

<ul *ngFor="let user of users" class="card card-body list-unstyled p-1">
  <div *ngIf="users.length > 0" [class.bg-light]="user.active" [style.border]="user.active ? '3px solid blue' : ''"
    class="p-3">
    <div class="row">
      <h4 class="pl-3">{{ user.name }} {{ user.lastName }}</h4>
      <small>
        <button class="btn btn-small btn-outline-primary" (click)="showUserInfo(user)">
          {{ user.hide ? '+' : '-' }}
        </button>
      </small>
    </div>
    <div *ngIf="!user.hide" class="list-group mt-3">
      <div class="row">
        <div class="col-sm-9">
          <li class="list-group-item">Framework/Linguagem: {{ user.mainLanguage }}</li>
          <li class="list-group-item">Idade: {{ user.age }} anos</li>
          <li class="list-group-item">Email: {{ user.contact.email }} </li>
          <li class="list-group-item">Fone: {{ user.contact.phone }} </li>
          <li class="list-group-item">Sócio Desde: {{ user.joinedAt }} </li>
        </div>
        <div class="col-sm-3 user__image--container">
          <img [src]="user.image" alt="user.name" class="user__image--photo">
        </div>
      </div>
    </div>
  </div>
</ul>

<h3 *ngIf="users.length === 0">Nenhum Usuário Encontrado =\</h3>