<div class="row">
  <div class="col-md-6">
    <button class="btn btn-block btn-outline-secondary mb-3" (click)="getPosts()">Buscar Postagens</button>
  </div>
  <div class="col-md-6">
    <button class="btn btn-block btn-outline-secondary mb-3">Nova Postagem</button>
  </div>
</div>
<div class="car card-body mb-3">
  <form>
    <div class="form-group">
      <label>Titulo</label>
      <input type="text" class="form-control" name="title" #title>
    </div>
    <div class="form-group">
      <label>Conteúdo</label>
      <input type="text" class="form-control" name="body" #body>
    </div>
    <button class="btn btn-dark btn-block" (click)="newPost(title.value, body.value)">
      Adicionar Post
    </button>
  </form>
</div>
<div class="row" style="display: flex; justify-content: space-around;">
  <div class="card text-white bg-secondary mb-3 col-md-5" *ngFor="let post of posts">
    <div class="card-header">Cartão {{ post.id }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.body }}</p>
    </div>
  </div>
</div>